
.sea{
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
}

.deep{
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bg{
  
    background-color: rgba(0, 0, 0, 0.315);


}
.banner-bg{

   background-color: rgba(0, 0, 0, 0.534);

}
.banner-bg-1{

   background-color: rgba(3, 138, 138, 0.397);

}

.nav-name{

   display: flex;
   align-items: center;
   gap: 5px;

}
.navbar{

    padding: 20px;

}
.text-w{

   color: black;
   font-size: 25px;

}
.text-c{
   
   color: green;

}
.deep-text{

    background-color: rgba(0, 27, 177, 0.685);
    color: white;

}