
.sea{
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
}

.deep{
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bg{
  
    background-color: rgba(0, 0, 0, 0.315);


}
.banner-bg{

   background-color: rgba(0, 0, 0, 0.534);

}
.banner-bg-1{

   background-color: rgba(3, 138, 138, 0.397);

}

.nav-name{

   display: flex;
   align-items: center;
   gap: 5px;

}
.navbar{

    padding: 30px;
   

}
.text-w{

   color: white;
   font-size: 25px;

}
.text-w1{
   
   color: black; 

}
.text-c{
   
   color: green;

}
.deep-text{

    background-color: rgba(0, 27, 177, 0.685);
    color: white;

}
.text-there{
   
    color: rgba(128, 128, 128, 0.856);
    margin-top: 20px;

}
.icon-F{
   
    color: #1877f2;

}
.icon-t{

    color: rgb(0, 225, 255);
}
.icon-I{

    color: white ;
}
.text-ab{

   font-size: 16px;
   margin-top: 10px;
   color: gray;

}
.hr{

   margin-top: 60px;
   margin-bottom: 60px;

}
.ar-text{

   color: gray;

}
.FJ{

   font-size: 60px;
   color: black;

}
.ex{

   text-align: center;
   font-size: 17px;
   color: gray;

}
.job_t{

   font-size: 20px;

}
.cn{

   font-size: 15px;
   color: gray;

}
.rf{

   color: blueviolet;

}
.one{

   font-size: 60px;
   line-height: 70px;
   font-weight: bold;
   color: black;

}
.background{

   background-color: rgba(137, 43, 226, 0.089);

}
.ac{

   font-size: 17px ;
   margin-top: 10px;
   font-weight: bold;

}
.job{

   color: gray;
   margin-top: 10px ;

}
